{% extends 'basic_layout.html' %}
{% block content %}

    {% if username %}
        <h1>Hello</h1>
    {% else %}
        <div class="content-section">
            <form method="POST" action="login.html">

                    {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label() }}
                    {{ form.username(size=30) }}
                    <br/>
                </p>

                <p>
                    {{ form.password.label() }}
                    {{ form.password(size=30) }}
                    <br/>
                </p>

                <p>
                    {{ form.confirm_password.label() }}
                    {{ form.confirm_password(size=30) }}
                    <br/>
                </p>
                {{ form.submit() }}

            </form>
        </div>

    {% endif %}

    <style>
        form{
            border: 2px solid black;
            border-radius: 10px;
            text-align: center;
            width: 50%; /* adjust to desired width */
            margin: 0 auto; /* center the container */
        }
    </style>


{% endblock %}
