{% extends 'basic_layout.html' %}
{% block content %}

    {% if username %}
        return
    {% else %}
            <form method="POST" action="main_menu.html">
                <h1>Create an Account</h1>
                {{ form.hidden_tag() }}
                <p>
                    <br/>
                    {{ form.username.label() }}
                    {{ form.username(size=30) }}
                    <br/>
                </p>

                <p>
                    {{ form.password.label() }}
                    {{ form.password(size=30) }}
                    <br/>
                </p>


                {{ form.submit() }}
                <br/>


            </form>

    {% endif %}

    <style>
        body {
            background-image: url({{ url_for('static', filename='/images/space-galaxy-cyan-stars-4k-su-2722537309.jpg') }});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        form{
            background-color: white;
            border-radius: 10px;
            text-align: center;
            width: 400px;
            margin: 0 auto;
        }
    </style>


{% endblock %}
