<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> <!-- Encodes all chars so that no matter the language it will be displayed correctly-->
        <meta name="viewport" content="width=device-width", initial-scale="1"><!--Makes it so that it is displayed properly on all devices-->
                                                       <!--Initial sc sets the initial zoom level(when loaded) to 1-->
        <!--bootstrap css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Links to the Bootstrap CSS file hosted on a CDN (Content Delivery Network).
            Purpose: sets the font and spacing-->
    </head>
    <!--Centers content horizontally-->
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">StarSight</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Find Stars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Saved Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Learn More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {%  block content %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!--Tells the browser to load the JavaScript file from Bootstrap, which contains interactive elements-->
    </body>
</html>
