{% extends "basic_layout.html" %}
{% block content %}
  <style>
  #map{
    height: 600px;
    width: 100%;
  } 
    body {
      background-image: url({{ url_for('static', filename='/images/Star-background.jpg') }});
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .white-label{
      color: white; 
    }

  </style>
  
  <h2 style="text-align:center; color: white;"> Find Stars! </h2>
  <div class="form-section">
    <form action = "" method="POST">
      
  <div id="map"></div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap&libraries=marker">
  </script>    
  <body>
  <form id="LocationForm">
        {{ form.hidden_tag() }}
        {{ form.loc_radius.label(class="white-label")}}
        {{ form.loc_radius }}
        <label style="color: white" for="lat">Latitude:</label>
        <input type="number" step="any" id="lat" name="lat">
        <label style="color: white" for="lng">Longitude:</label>
        <input type="number" step="any" id="lng" name="lng">
        <input type="submit" value="Find nearby locations!">
    </form>
    
  <form action="" method="POST">
    {% if markers %}
      <table>
        <tr>
          <th> Marker </th>
          <th> Latitude </th>
          <th> Longitude </th>
          <th> Select Location </th>
        </tr>
        {% for marker in markers%}
        <tr>
          <td>{{marker["label"]}}</td>
          <td>{{marker["lat"]}}</td>
          <td>{{marker["lng"]}}</td>
          <td> <input type="radio" name="selection" value='{{ marker|tojson }}' ></td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="View Forecast">
    {% endif %}
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="container mt-4">
              {% for category, message in messages %}
                  <div class="alert alert-light alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}
  </body>
    <script>
        let map;
        let markers = [];

        function initMap() {
            const { Map } = await google.maps.importLibrary('maps');
            const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: {{usr_coords["lat"]}}, lng: {{usr_coords["lng"]}}},
                zoom: 10
            });
            
            // Add click event listener to the map so we can get clickes
            map.addListener('click', function(event) {
                placeMarker(event.latLng);
                updateForm(event.latLng);
            });

            // Add generated markers from server
            {% for marker in markers %}
              new google.maps.Marker({
                position: {lat: {{marker.lat}}, lng: {{marker.lng}}},
                map: map,
                label: {
                  text: "{{marker.label}}",
                  color: 'black',
                  fontSize: '14px',
                }
              });           
  
            {% endfor %}
            let linkWindow = new google.maps.InfoWindow();

            // Add popular markers from server
            {% for marker in popular_markers %}
              let markerInfo = {{ marker | tojson }};
              let popularMarker = new google.maps.Marker({
                map: map,
                position: {lat: {{marker["latitude"]}}, lng: {{marker["longitude"]}}},
                icon: {
                  path: google.maps.SymbolPath.CIRCLE,
                  fillColor:'yellow',
                  fillOpacity: 1,
                  strokeWeight: 0,
                  scale: 10
                }
              });           
              console.log(markerInfo)
              popularMarker.addListener('click',function() {
                linkWindow.setContent(createLinkWindowContent(markerInfo));
                linkWindow.open(map, popularMarker);  

              });  
            {% endfor %}

          }
        
        function createLinkWindowContent(marker){
          console.log(marker)
          let lat = marker.latitude;
          let lng = marker.longitude;
          let address = marker.address;  
          return `
            <div>
            <h3>Test</h3>
              <p>
                <a href ="{{ url_for('main_menu')}}">View Reviews</a> |
                <a href ="{{ url_for('calculate_results',latitude=lat,longitude=lng)}}">View Results</a>
              </p>
          `;
        }
        
        function placeMarker(location) {
            markers.forEach(marker => marker.setMap(null));
            markers = [];

            // Adds the new marker to the map
            let marker = new google.maps.Marker({
                position: location,
                map: map,
                title: 'Clicked Location'
            });
            markers.push(marker);
        }

        function updateForm(latLng) {
            document.getElementById('lat').value = latLng.lat().toFixed(6);
            document.getElementById('lng').value = latLng.lng().toFixed(6);
        }

      initMap();
    </script>
{% endblock %}
