{% extends "basic_layout.html" %}
{% block content %}
  <style>
  #map{
    height: 600px;
    width: 100%;
  } 
    body {
      background-image: url({{ url_for('static', filename='/images/Star-background.jpg') }});
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .white-label{
      color: 202F5A; 
    }

    h2 {
      margin: 15px;
      margin-top: 60px;
    }

    .btn {
      background-color: #202F5A;
      color: white;
      margin-left: 10px;
    }

    .style {
      background-color: rgba(211, 211, 211, 0.9);
      color: #202F5A;
      padding: 10px;
      text-align: center;
      z-index: 1;
    }

  </style>
  
  <h2 style="text-align:center; color: white;">  </h2>
  <div class="form-section">
    <form action = "" method="POST">
      
  <div id="map"></div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap&libraries=marker">
  </script>    
  <body>
    <div class="style">
      <form id="LocationForm">
            {{ form.hidden_tag() }}
            {{ form.loc_radius.label(class="white-label")}}
            {{ form.loc_radius }}
            <label style="color: 202F5A; padding-left: 10px" for="lat">Latitude:</label>
            <input type="number" step="any" id="lat" name="lat">
            <label style="color: 202F5A; padding-left: 10px" for="lng">Longitude:</label>
            <input type="number" step="any" id="lng" name="lng">
            <input type="submit" value="Find nearby locations!" class="btn">
        </form>
    </div>
    
  <form action="" method="POST">
    {% if markers %}
      <table>
        <tr>
          <th> Marker </th>
          <th> Ranking (0-5 scale) </th>
          <th> Address </th>
          <th> Select Location </th>
          <th> Reviews </th>
        </tr>
        {% for marker in markers%}
        <tr>
          <td>{{marker["label"]}}</td>
          <td>{{marker["ranking"]}}</td>
          <td>{{marker["address"]}}</td>
          <td> <input type="radio" name="selection" value='{{ marker|tojson }}' ></td>
          <td>
            <a href="{{ url_for('reviews', address=marker['address'], longitude=marker['lng'], latitude=marker['lat']) }}">Reviews</a>
            <script>
              console.log("{{ marker }}");
          </script>
          </td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="View Forecast">
    {% endif %}
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="container mt-4">
              {% for category, message in messages %}
                  <div class="alert alert-light alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}
  </body>
    <script>
        let map;
        let markers = [];

        async function initMap() {
            const { Map } = await google.maps.importLibrary('maps');
            const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
  
            map = new Map(document.getElementById('map'), {
              center: {lat: {{usr_coords["lat"]}}, lng: {{usr_coords["lng"]}}},
              zoom: 10,
              mapId: '{{map_id}}'
            });
            
            // Add click event listener to the map so we can get clickes
            map.addListener('click', function(event) {
                placeMarker(event.latLng);
                updateForm(event.latLng);
            });

            // Add generated markers from server
            {% for marker in markers %}
              new AdvancedMarkerElement({
                position: {lat: {{marker.lat}}, lng: {{marker.lng}}},
                map: map,
                content: createMarkerContent("{{marker.label}}")
              });           
            {% endfor %}

            let linkWindow = new google.maps.InfoWindow({
              pixelOffset: new google.maps.Size(-12,0)
            });


            // Add popular markers from server
            {% for marker in popular_markers %}
              (function() {
                let markerInfo = {{ marker | tojson }};

                console.log("Processing marker", markerInfo);
                let popularMarker = new AdvancedMarkerElement({
                  map: map,
                  position: {lat: {{marker["latitude"]}}, lng: {{marker["longitude"]}}},
                  content: createPopularMarkerContent()
                });           

                popularMarker.addListener('click',function() {
                  linkWindow.setContent(createLinkWindowContent(markerInfo));
                  linkWindow.open(map, popularMarker);  

              });  

          })();
          {% endfor %}
  }
        
        function createLinkWindowContent(marker){
          console.log("link window", marker);
          let lat = marker.latitude;
          let lng = marker.longitude;
          let address = marker.address;  
          let rating = marker.rating/marker.reviewer_count;
          console.log(lat)
          console.log(lng)
          return `
            <h3>${address}</h3>
            <h3>${rating}★</h3>
              <p>
                <a href ="/reviews/${address}/${lat}/${lng}">View Reviews</a> |
                <a href ="/${lat}/${lng}/results">View Results</a>
              </p>
          `;
        }
        
        function createMarkerContent(label){
          const svgContent = `<svg fill="#001adb" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 425.963 425.963" xml:space="preserve" stroke="#001adb"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M213.285,0h-0.608C139.114,0,79.268,59.826,79.268,133.361c0,48.202,21.952,111.817,65.246,189.081 c32.098,57.281,64.646,101.152,64.972,101.588c0.906,1.217,2.334,1.934,3.847,1.934c0.043,0,0.087,0,0.13-0.002 c1.561-0.043,3.002-0.842,3.868-2.143c0.321-0.486,32.637-49.287,64.517-108.976c43.03-80.563,64.848-141.624,64.848-181.482 C346.693,59.825,286.846,0,213.285,0z M274.865,136.62c0,34.124-27.761,61.884-61.885,61.884 c-34.123,0-61.884-27.761-61.884-61.884s27.761-61.884,61.884-61.884C247.104,74.736,274.865,102.497,274.865,136.62z"></path> </g> </g></svg> `;
                
          const def = document.createElement('div');
          def.innerHTML = svgContent

          const content = document.createElement('div');
          content.classList.add('marker');
          
          const labels = document.createElement('div');
          labels.textContent = label;
          labels.style.color = 'black';
          labels.style.fontSize = '14px';
          labels.style.textAlign = 'center';

          content.appendChild(def);
          content.appendChild(labels);
          return content;
        }

        function createPopularMarkerContent(){
          const starSymbol = 'M12 17.27L18.18 21 16.54 13.97 22 9.24 14.81 8.63 12 2 9.19 8.63 2 9.24 7.46 13.97 5.82 21 12 17.27z';
          const star = document.createElement('div');
          star.innerHTML = `
            <svg width="72" height="72" viewBox="0 0 48 48" fill="yellow" stroke="gold" stroke-width="2"
              stroke-linecape="round" stroke-linejoin="round">
              <path d ="${starSymbol}"></path>
            </svg>
          `;
          return star;
        }

        
        function placeMarker(location) {
            markers.forEach(marker => marker.setMap(null));
            markers = [];

            // Adds the new marker to the map
            let marker = new google.maps.Marker({
                position: location,
                map: map,
                title: 'Clicked Location'
            });
            markers.push(marker);
        }

        function updateForm(latLng) {
            document.getElementById('lat').value = latLng.lat().toFixed(6);
            document.getElementById('lng').value = latLng.lng().toFixed(6);
        }

      initMap();
    </script>
{% endblock %}
