{% extends "basic_layout.html" %}
{% block content %}
    <body style="background-color: black"></body>
    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    <h1>Saved Locations</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Location Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Actions</th>
        </tr>
        {% for location in locations %}
        <tr>
            <td>{{ location.id }}</td>
            <td>{{ location.name }}</td>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td><a href="/{{ location.latitude }}/{{location.longitude}}/results">View Results</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
