{% extends "basic_layout.html" %}

{% block content %}
    <body style="background-color: black"></body>
    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    <h1>Saved Locations</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <table>
        <tr>
            <th>ID</th>
            <th>Location Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>View Results</th>
            <th>Remove Location</th>
            <th>Share Location</th>
        </tr>
        {% for location in locations %}
        <tr>
            <td>{{ location.id }}</td>
            <td>{{ location.name }}</td>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td><a href="/{{ location.latitude }}/{{location.longitude}}/results">View Results</a></td>
            <td><a href="/saved_locations/remove_saved/{{location.id}}">Remove Location</a></td>
            <td>
                <form action="{{ url_for('share_location', location_id=location.id) }}" method="POST">
                    <select name="friend_id" class="form-select">
                        {% for friend in friends %}
                        <option value="{{ friend.id }}">{{ friend.username }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary mt-1">Share</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
